Repository Vezorla/vezorla-backend, pull requests merged in 2020-04, with the labels that each got.

#146 Create Discount - 100% complete backend
  src/main/java/ca/sait/vezorla/controller/AdminRestController.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
Labels: admin

#147 Added product id to view all products - admin
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
Labels: admin

#148 Finished view invoice
  src/main/java/ca/sait/vezorla/controller/AdminRestController.java
  src/main/java/ca/sait/vezorla/model/Account.java
  src/main/java/ca/sait/vezorla/model/Invoice.java
  src/main/java/ca/sait/vezorla/service/AdminServices.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
Labels: admin, enhancement, review

#150 Creating a warehouse 100% Done
  external/31_3_2020_10_43_26_vezorla_database_dump.sql
  src/main/java/ca/sait/vezorla/controller/AdminRestController.java
  src/main/java/ca/sait/vezorla/model/Warehouse.java
  src/main/java/ca/sait/vezorla/service/AdminServices.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
Labels: admin

#151 Jr add email for export - 100% backend
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
Labels: admin

#152 PO Requirements (for combo boxes)
  src/main/java/ca/sait/vezorla/controller/AdminRestController.java
  src/main/java/ca/sait/vezorla/service/AdminServices.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
Labels: admin

#155 Get next PO number for purchase order - 100%
  src/main/java/ca/sait/vezorla/controller/AdminRestController.java
  src/main/java/ca/sait/vezorla/repository/PurchaseOrderRepo.java
  src/main/java/ca/sait/vezorla/service/AdminServices.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
Labels: admin

#156 Finished uploading an image
  src/main/java/ca/sait/vezorla/controller/AdminRestController.java
  src/main/java/ca/sait/vezorla/model/Image.java
  src/main/java/ca/sait/vezorla/repository/AccountRepo.java
  src/main/java/ca/sait/vezorla/repository/ImageRepository.java
  src/main/java/ca/sait/vezorla/service/AdminServices.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
  src/main/java/ca/sait/vezorla/service/UserServicesImp.java
Labels: admin, enhancement

#158 Get admin email for admin account - 100%
  src/main/java/ca/sait/vezorla/controller/AdminRestController.java
  src/main/java/ca/sait/vezorla/service/AdminServices.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
Labels: admin

#159 Finished update product with an image
  src/main/java/ca/sait/vezorla/controller/AdminRestController.java
  src/main/java/ca/sait/vezorla/model/Product.java
  src/main/java/ca/sait/vezorla/service/AdminServices.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
  src/main/java/ca/sait/vezorla/service/UserServicesImp.java
Labels: admin, enhancement

#162 Jr view all clients admin
  src/main/java/ca/sait/vezorla/controller/AdminRestController.java
  src/main/java/ca/sait/vezorla/controller/ClientRestController.java
  src/main/java/ca/sait/vezorla/repository/AccountRepo.java
  src/main/java/ca/sait/vezorla/service/AdminServices.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
Labels: admin

#165 Fixed view all clients and completed view client
  src/main/java/ca/sait/vezorla/controller/AdminRestController.java
  src/main/java/ca/sait/vezorla/service/AdminServices.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
Labels: admin

#169 Jr cart bug Fixed
  src/main/java/ca/sait/vezorla/controller/CustomerRestController.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
  src/main/java/ca/sait/vezorla/service/UserServicesImp.java
  src/main/resources/application.properties
Labels: bug

#167 Fixed add product image
  src/main/java/ca/sait/vezorla/controller/AdminRestController.java
  src/main/java/ca/sait/vezorla/service/AdminServices.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
  src/main/java/ca/sait/vezorla/service/AuthenticationServices.java
  src/main/java/ca/sait/vezorla/service/AuthenticationServicesImp.java
Labels: admin, enhancement

#170 Jr session timeout - done Work around for restore
  src/main/java/ca/sait/vezorla/controller/AdminRestController.java
  src/main/java/ca/sait/vezorla/service/AdminServices.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
  src/main/resources/application.properties
Labels: bug

#171 Finished admin update account
  src/main/java/ca/sait/vezorla/controller/ClientRestController.java
  src/main/java/ca/sait/vezorla/service/AdminServices.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
Labels: admin, enhancement

#172 Add email to view order history - all
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
Labels: admin, bug, enhancement

#188 getTopProduct - 100% Complete
  src/main/java/ca/sait/vezorla/controller/CustomerRestController.java
  src/main/java/ca/sait/vezorla/repository/ProductRepo.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
  src/main/java/ca/sait/vezorla/service/UserServices.java
  src/main/java/ca/sait/vezorla/service/UserServicesImp.java
Labels: enhancement

#195 Backup and restore fixed
  dump2020-04-08.sql
  pom.xml
  src/main/java/ca/sait/vezorla/controller/AdminRestController.java
  src/main/java/ca/sait/vezorla/service/AdminServices.java
  src/main/java/ca/sait/vezorla/service/AdminServicesImp.java
  src/main/java/ca/sait/vezorla/service/EmailServices.java
  src/main/java/ca/sait/vezorla/service/EmailServicesImp.java
Labels: bug
